GROQ_API_KEY=your_groq_api_key_here
GROQ_SECOND_API_KEY=your_groq_second_api_key_here
NODE_BACKEND_URL=http://localhost:3001
CHROMA_PERSIST_DIR=./chroma
NTERNAL_SERVICE_TOKEN=Your_Internal_token_here
